body{
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
}

    

header{
    display: flex;
    justify-content:space-between;

}

.logo img{
    width: 200px;
}

nav ul{
    display: flex;
}
nav ul li {
    display: flex;
    padding: 5px;
   list-style-type: none;
   font-size: 15px;
  
}
nav ul li a{
    display: flex;
    text-decoration: none;
    color: white;
}
nav li a:hover{
    color: #ff8c69;
    transition-property: all 0.4s ease 0s;
}


.image img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.item2{
color: white;
font-family: "Montserrate";
display: flex;
justify-content:space-between;
margin-top: 30px;
margin-left:30px;
margin-right: 30px;

}
.monkey1 img{
  width: 170px;
  display: flex;
  background-position: center;
  background-size: cover;
padding-right:5% ;

}
.monkey2 img{
    width: 170px;
    display: flex;
    background-position: center;
    background-size: cover;


 
   
}

h1{
    width: 380px;
    color: white;
}
p{
    color: white;
}


.first{
    color: rgb(219, 212, 17);
    padding-left: 5%;
    font-size: 30px;

}
.second{
    color:white;
    padding-left: 5%;
    font-size: 20px;

}
.fourth{
color: white;
font-family: "Montserrate";
display: flex;
justify-content: space-between;
padding-left: 5%;
padding-right: 10%;

}
.sixth{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#bfc500
   
    
}
.sixth h1{
    color: black;
    width: 200px;
  
}
.sixth p{
    color: black;
    width: 200px;
   
}

button{
width: 200px;
color: #bfc500;
background-color: black;
font-weight: 600;
text-align: center;
border-radius: 8px;
border: 0px;
font-size: 16px;
height: 75px;
width: 240px;
margin-left: 50px;
}
button:hover{
    background-color: aliceblue;
    color: black;
    transition-property: all 2.4s ease 2s;
    
}
.line{
    color: whitesmoke;
    font-display:solid;
    margin-top: 5%;

   
}
.item3{
    color: white;
    font-family: "Montserrate";
    display: flex;
    margin: 30px;
    justify-content: space-between;
}
    


.item3 p{
    width: 100%;
color: white;
font-family: "Montserrate";
word-spacing: 2px;
line-height: 26px;
}
.item3 p a{
    color: #bfc500;
}


h1{
    width: 100%;
}
.sat1{
    width: 370px;
    color: white;
}
.item7{
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: whitesmoke;

}
.item9{
    display: flex;
    justify-content: space-between;
    text-align:start;
    word-spacing: 4px;
    font-family: "Montserrate";
    padding-top: 4%;
    
}
.item0{
    color: white;
    display: flex;
    font-family: "Montserrate";
    font-size: small;
    padding-left: 2%;
    
    
}
.item0 h2{
    color: #bfc500;
}
.q{
    display: flex;

}
.item0 p{
    padding-left:5%;
 
}
.item0 img{
    background-color: #bfc500;
    width:380px;
}
/*screen size all mobile cheak*/

@media (max-width:575px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
body {
    margin-left: 37px;
    margin-right: 21px;
    background-color: black;
} 
    .item2{
        color: white;
        font-family: "Montserrate";
        display: flex;
        justify-content: space-between;
        margin-top: 14px;
        margin-left: 0px;
        margin-right: 20px;
    }
    .monkey1 img {
    width: 132px;
    display: flex;
    background-position: center;
    background-size: cover;
    padding-right: 5%;}

    .monkey2 img {
        width: 132px;
        display: flex;
        background-position: center;
        background-size: cover;
    }








   


